cleaned_data/electricity_trading/AT_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/BE_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/CH_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/FR_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/SE_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/NO_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/PL_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/CZ_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/DK_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/germany_power_mw_2015_2023_tcs_saldo.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/LU_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/electricity_trading/NL_power_mw_2015_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/german_grid_history/germany_power_mw_2010_2023_public.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/german_grid_history/germany_power_mw_2010_2023_sw.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/german_grid_history/germany_power_mw_2015_2023_entsoe.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/german_grid_history/germany_power_mw_2015_2023_total.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/german_grid_history/germany_flex_capacity_GW_2002_2024.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/german_grid_history/germany_installed_power_GW_2002_2024.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Lokationen.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenEegSpeicher.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenKwk.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenStromSpeicher.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenStromSpeicher.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/GeloeschteUndDeaktivierteEinheiten.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenEegWasser.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Bilanzierungsgebiete.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Ertuechtigungen.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Marktrollen.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenGasErzeuger.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenGeothermieGrubengasDruckentspannung.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenStromVerbraucher.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenVerbrennung.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Einheitentypen.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenWind.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenEegSolar.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenAenderungNetzbetreiberzuordnungen.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenGenehmigung.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenKernkraft.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenSolar.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenWasser.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Marktakteure.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenEegBiomasse.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenEegGeothermieGrubengasDruckentspannung.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenBiomasse.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenGasSpeicher.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/EinheitenGasverbraucher.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenEegWind.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Netzanschlusspunkte.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/Netze.xz filter=lfs diff=lfs merge=lfs -text
cleaned_data/market_master_data/AnlagenGasSpeicher.xz filter=lfs diff=lfs merge=lfs -text
